@charset "utf-8";
/* CSS Document */
body {
    background-color: lightblue;
}
.demo{
background:#900; 
height:100px; 
width:100px;
padding:10px 20px 30px 40px;
margin:10px 20px 30px 40px;
}
#demo{
background:#C90; 
height:100px; 
width:100px;
}
h2 {
    text-align: center;
    color: red;
	font-size:16px;
}

